@{
    ViewData["Title"] = "Register";
    Layout = null;
}
@model RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - SoruCevapPortali</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body style="background-image: url('/Photos/background3.jpeg');">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm   box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h4>SoruCevapPortali</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-self-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>





    <div class="container">


        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-12 col-md-9 ">

                <div class="card o-hidden border-0 shadow-lg my-5" style="background-color: rgba(255, 255, 255, 0.7); padding: 20px;">
                    <div class="card-body p-0">

                        <div class="row text-center justify-content-center">

                            <div class="col-lg-8">
                                <div class="p-2">
                                    <div>
                                        <h1 class="h4 text-gray-900 mb-4">Yeni Kullanıcı Kayıt</h1>
                                    </div>
                                    <hr>
                                    <form method="post" action="Register">
                                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                                        <div class="form-group my-2 ">
                                            <input type="text" class="form-control form-control-user"
                                                   asp-for="FullName"
                                                   placeholder="İsim Soyisim">
                                        </div>
                                        <div class="form-group my-2" style="opacity: 1.0;">
                                            <input type="text" class="form-control form-control-user"
                                                   asp-for="UserName"
                                                   placeholder="Kullanıcı Adı">
                                        </div>
                                        <div class="form-group my-2" style="opacity: 1.0;">
                                            <input type="email" class="form-control form-control-user"
                                                   asp-for="Email" aria-describedby="emailHelp"
                                                   placeholder="E-Posta Adresi">
                                        </div>


                                        

                                        <div class="form-group my-2" style="opacity: 1.0;">
                                            <input type="password" class="form-control form-control-user"
                                                   asp-for="Password" value="Abc.123"  placeholder="Parola">
                                        </div>
                                        <div class="form-group my-2" style="opacity: 1.0;">
                                            <input type="password" class="form-control form-control-user"
                                                   value="Abc.123" asp-for="PasswordConfirm" placeholder="Parola Tekrarı">
                                        </div>
                                        <div class=" my-3" style="opacity: 1.0;">
                                            <button class="btn btn-primary btn-user" type="submit">
                                                Kayıt Ol
                                            </button>
                                            

                                        </div>
                                        <a class="small mt-2" href="~/User/Login" style="opacity: 0.9;">Oturum Aç</a>
                                    </form>


                                    


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    
</body>
</html>